DS_Store
.DS_Store
vim/bundle/
vim/tmp/
tmux.symlink/
*.secrets*
*.password*
*cache*
completer.hist
fishd.*
config/fish/fish_history
tmux-client-*
config/configstore
config/gcloud/
config/fish/extras.fish
config/yarn
tool-versions
