DS_Store
.DS_Store
vim/bundle/
vim/tmp/
tmux.symlink/
*.secrets*
*.password*
*cache*
mutt/earnest/
mutt/me/
completer.hist
fishd.*
config/fish/fish_history
scripts/generate-prod-db-credentials
tmux-client-*
scripts/pgauth
scripts/arcanist/
scripts/libphutil/
config/configstore
